<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=liladbserver2.database.windows.net;Initial Catalog=lila;User ID=lilaadm;Password=jm3ZS1Sc1tPlz5pw5Y8BWdAmfeMZgbyl;" />
  </connectionStrings>
</configuration>
